<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Paradize Hotel System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Paradize Hotel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers<span class="caret"></span></a>
					  	   <ul class="dropdown-menu" role="menu">
							<li>@Html.ActionLink("Add customer", "CustomerRegistration", "Customer")</li>
							<li>@Html.ActionLink("Customer List", "GetCustomers", "Customer")</li>
						</ul>
					</li>
				</ul>
				


				@if (Session["CustomerID"] != null)
				{

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Welcome @Session["FirstName"]</a></li>
						<li>@Html.ActionLink("LogOut", "LogOut", "Customer", new { area = "" }, new { @class = "navbar-brand" })</li>
					</ul>

				}
				else
				{

					<ul class="nav navbar-nav navbar-right">
						<li>@Html.ActionLink("Login", "Login", "Customer", new { area = "" }, new { @class = "navbar-brand" })</li>
						<li>@Html.ActionLink("Register", "CustomerRegistration", "Customer", new { area = "" }, new { @class = "navbar-brand" })</li>
					</ul>


				}
			</div>
		
		</div>
    </div>
    <div class="container body-content">
        @RenderBody()
    
        <footer style="position:fixed;bottom:0;">
            <p>&copy; @DateTime.Now.Year - Sangue Hotel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
